DeliveryServiceWebDBServer/App_Data/XMLSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="catalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="add" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="from" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="name" use="optional">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="midname" use="optional">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="surname" use="optional">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="company" use="optional">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="70" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="index" use="optional">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="20" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="country" type="xs:string" use="required" />
                  <xs:attribute name="region" type="xs:string" use="required" />
                  <xs:attribute name="city" type="xs:string" use="required" />
                  <xs:attribute name="idCentre" type="xs:integer" use="optional" />
                  <xs:attribute name="address"  use="optional">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="100" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="phone"  use="optional">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="20" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="mail"  use="optional">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="informingSMS" type="xs:boolean" use="optional" />
                  <xs:attribute name="informingMail" type="xs:boolean" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element name="to" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="name" use="optional">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="midname" use="optional">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="surname" use="optional">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="company" use="optional">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="70" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="index" use="optional">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="20" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="country" type="xs:string" use="required" />
                  <xs:attribute name="region" type="xs:string" use="required" />
                  <xs:attribute name="city" type="xs:string" use="required" />
                  <xs:attribute name="idCentre" type="xs:integer" use="optional" />
                  <xs:attribute name="address"  use="optional">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="100" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="phone"  use="optional">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="20" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="mail"  use="optional">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="informingSMS" type="xs:boolean" use="optional" />
                  <xs:attribute name="informingMail" type="xs:boolean" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="weight" use="required" >
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:minInclusive value="1" />
                  <xs:maxInclusive value="9999999999" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="width" use="required" >
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:minInclusive value="1" />
                  <xs:maxInclusive value="9999999999" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="height" use="required" >
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:minInclusive value="1" />
                  <xs:maxInclusive value="9999999999" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="length" use="required" >
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:minInclusive value="1" />
                  <xs:maxInclusive value="9999999999" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="number" use="optional">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:minInclusive value="1" />
                  <xs:maxInclusive value="999" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="value" use="optional" >
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:minInclusive value="1" />
                  <xs:maxInclusive value="9999999999" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="description" type="xs:string" use="optional" />
            <xs:attribute name="tariff" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>